[Unit]
Description=Wifi Mapper
After=network.target

[Service]
ExecStart=/usr/local/bin/sensor_logic
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=root

[Install]
WantedBy=multi-user.target
